{% block body -%}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>textbook exchange made easy: student2student.com newsletter</title>
    <style type="text/css">

        body, td, th {
            font-family: 'Segoe UI',proxima_nova,'Open Sans','Lucida Grande',Arial,Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif';
            font-size: 11pt;
        }

    </style>
</head>

<body style="background: #EBEEFA;align-content: center;">


<div style="padding-top: 20px;padding-bottom: 20px;"  align="center" width="600">


<table bgcolor="#ebeefa" cellpadding="0" cellspacing="0" border="0" align="center" width="600">
<tr>
    <td>
        <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="">
            <tr>
                <td><img style="display: block;" src="{{ header_image }}"/></td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="">
            <tr>
                <td>
                    <div style="background:#0A87C9;width:600px;text-align: center;">
                        <h1 style="text-transform: uppercase;font-size:2em;color: #ffffff;margin-bottom: 10px;margin-top: 0px;">
                           Message Sent</h1>
                        <img style="margin: auto;display:block;" src="{{ envelop_image }}"/>
                        <h2 style="color:#000000;font-size:1.5em;margin-top: 0px;margin-bottom: 0px;">{{ message.messageBody }}</h2>
                        <h5 style="color: #ffffff;font-size: 1em;margin-top: 10px;margin-bottom: 10px;">Message sent to seller ({{ seller.username }})</h5>
                    </div>
                </td>
            </tr>
        </table>
    </td>
</tr>
{%if messageArray|length > 0 %}
    <tr>
        <td>
            <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" width="600">
                <tr>
                    <td width="220"></td>
                    <td width="160">
                        <div style="text-align: center;">
                            <img width="143" height="37" style="vertical-align:top;display: block;"
                                 src="{{ previous_image }}"/>
                        </div>

                    </td>
                    <td width="220"></td>
                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" width="600">


                {% for key,individualMessage in messageArray %}

                    {%if key is even %}

                        <tr>
                            <td style="padding-top: 10px;padding-bottom: 10px;" width="50"></td>
                            <td style="padding-top: 10px;padding-bottom: 10px;padding-right: 10px;" width="100">
                                <div style="margin: auto;text-align: right;">
                                    <img style="height: 50px;width: 50px;border-radius: 50%;" src="{{ individualMessage.embedProfilePicture }}"/>
                                </div>
                            </td>
                            <td style="padding-top: 10px;padding-bottom: 10px;" width="220">
                                <div style="margin: auto;text-align: left;">
                                    <h5 style="color:#000000;font-size: 1em;margin-top: 0px;margin-bottom: 0px;">{{ individualMessage.sender }}</h5>

                                    <span style="color:#000000;margin-left: 10px;font-size: 12px;">{{ individualMessage.messageBody }}</span>
                                </div>
                            </td>
                            <td style="padding-top: 10px;padding-bottom: 10px;" width="180">
                                <div style="margin: auto;text-align: center;">
                                    <span style="color:#000000;font-size: 12px;">{{ individualMessage.messageType }}</span><br/>
                                    <span style="color:#000000;font-size: 12px;">{{ individualMessage.messageDateTime }}</span>
                                </div>
                            </td>
                            <td style="padding-top: 10px;padding-bottom: 10px;" width="50"></td>
                        </tr>

                    {% elseif key is odd %}
                        <tr>
                            <td style="padding-top: 10px;padding-bottom: 10px;" width="50"></td>
                            <td style="padding-top: 10px;padding-bottom: 10px;background: #F1F1F1;padding-right: 10px;" width="100">
                                <div style="margin: auto;text-align: right;">
                                    <img style="height: 50px;width: 50px;border-radius: 50%;" src="{{ individualMessage.embedProfilePicture }}"/>
                                </div>
                            </td>
                            <td style="padding-top: 10px;padding-bottom: 10px;background: #F1F1F1;" width="260">
                                <div style="margin: auto;text-align: left;">
                                    <h5 style="color:#000000;font-size: 1em;margin-top: 0px;margin-bottom: 0px;">{{ individualMessage.sender }}</h5>

                                    <span style="color:#000000;margin-left: 10px;font-size: 12px;">{{ individualMessage.messageBody }}</span>
                                </div>
                            </td>
                            <td style="padding-top: 10px;padding-bottom: 10px;background: #F1F1F1;" width="140">
                                <div style="margin: auto;text-align: center;">
                                    <span style="color:#000000;font-size: 12px;">{{ individualMessage.messageType }}</span><br/>
                                    <span style="color:#000000;font-size: 12px;">{{ individualMessage.messageDateTime }}</span>
                                </div>
                            </td>
                            <td style="padding-top: 10px;padding-bottom: 10px;" width="50"></td>
                        </tr>
                    {% endif %}
                {% endfor %}


            </table>
        </td>
    </tr>
{% endif %}
<tr>
    <td>
        <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" width="600">
            <tr>
                <td width="220"></td>
                <td width="160" style="padding-top:20px;text-align: center;">
                    <div style="text-align: center;background-color: #FF530D;">
                        <p style="color:#ffffff;padding: 5px 10px 5px 10px;"><a style="color:#ffffff;text-decoration: none;" href="http://student2student.com/contactedBookList">View & Reply</a></p>
                    </div>
                </td>
                <td width="220"></td>
            </tr>
        </table>
    </td>
</tr>
{%if contactMethod=="buyerToSeller" %}
    <tr>
        <td>
            <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" width="600">
                <tr>
                    <td style="text-align: center;padding-top:20px;">
                        <p style="color:#000000;margin-bottom: 20px;">Seller ({{ seller.username }}) Contact Information is given below -</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" width="600">
                <tr>
                    <td width="50"></td>
                    <td width="50" style="background: #0A87C9;padding-top: 10px;"></td>
                    <td width="200" style="padding-top:10px;padding-bottom:10px;text-align: left;background: #0A87C9;">
                        <span style="color:#ffffff;font-size: 1em;">Nick Name :</span><br/>
                        <span style="color:#ffffff;font-size: 1em;">Email :</span><br/>
                        <span style="color:#ffffff;font-size: 1em;">Cell Phone :</span><br/>
                        <span style="color:#ffffff;font-size: 1em;">Home Phone :</span>
                    </td>


                    <td width="250" style="padding-top:10px;padding-bottom:10px;text-align: left;background: #0A87C9;">
                        <span style="color:#ffffff;font-size: 1em;">{{ seller.username }}</span><br/>
                        <span style="color:#ffffff;font-size: 1em;text-decoration: none;">{{ bookDeal.bookContactEmail }}</span><br/>
                        <span style="color:#ffffff;font-size: 1em;">{{ bookDeal.bookContactCellNumber }}</span><br/>
                        <span style="color:#ffffff;font-size: 1em;">{{ bookDeal.bookContactHomeNumber }}</span>
                    </td>
                    <td width="50"></td>
                </tr>
            </table>
        </td>
    </tr>


{% elseif contactMethod=="sellerToBuyer" %}

    <tr>
        <td>
            <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" width="600">
                <tr>
                    <td style="text-align: center;padding-top:20px;">
                        <p style="color:#000000;margin-bottom: 20px;">Your Contact Information as Buyer ({{ buyer }}) is given to Seller ({{ seller.username }}) as below -</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" width="600">
                <tr>
                    <td width="50"></td>
                    <td width="50" style="background: #0A87C9;padding-top: 10px;"></td>
                    <td width="200" style="padding-top:10px;padding-bottom:10px;text-align: left;background: #0A87C9;">
                        <span style="color:#ffffff;font-size: 1em;">Nick Name :</span><br/>
                        <span style="color:#ffffff;font-size: 1em;">Email :</span><br/>
                        <span style="color:#ffffff;font-size: 1em;">Cell Phone :</span><br/>
                        <span style="color:#ffffff;font-size: 1em;">Home Phone :</span>
                    </td>


                    <td width="250" style="padding-top:10px;padding-bottom:10px;text-align: left;background: #0A87C9;">
                        <span style="color:#ffffff;font-size: 1em;">{{ buyer }}</span><br/>
                        <span style="color:#ffffff;font-size: 1em;text-decoration: none;">{{ contact.buyerEmail }}</span><br/>
                        <span style="color:#ffffff;font-size: 1em;">{{ contact.buyerCellPhone }}</span><br/>
                        <span style="color:#ffffff;font-size: 1em;">{{ contact.buyerHomePhone }}</span>
                    </td>
                    <td width="50"></td>
                </tr>
            </table>
        </td>
    </tr>

{% endif %}

<tr>
    <td>
        <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" width="600">
            <tr>
                <td width="50"></td>
                <td width="140" style="padding-top: 10px;">

                </td>
                <td width="180"
                    style="padding-right:10px;padding-left: 10px;padding-top:10px;padding-bottom:10px;padding-right:10px;text-align: left;">
                    <p style="color:#0A87C9;font-size: 1em;font-style: italic;">BOOK INFORMATION</p>
                </td>
                <td width="180"
                    style="border-left:1px solid #ffffff;padding-top:10px;padding-left: 30px;padding-bottom:10px;text-align: left;">
                    <p style="color:#0A87C9;font-size: 1em;font-style: italic;">DEAL INFORMATION</p>
                </td>
                <td width="50"></td>
            </tr>
        </table>
    </td>
</tr>

<tr>
    <td>
        <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" width="600">
            <tr>
                <td width="50"></td>
                <td width="140" style="padding-top: 10px;vertical-align: top;">
                    <img width="120" height="170" src="{{ book_image }}"/>
                </td>
                <td width="180"
                    style="padding-right:10px;padding-top:10px;padding-bottom:10px;text-align: left;vertical-align: top;padding-left: 10px;margin-bottom:20px;">
                    <span style="color:#FF530D;font-size: 1em;">Book Title : </span><span
                            style="color:#000000;font-size: 1em;">{{ book.bookTitle }}</span><br/>
                    <span style="color:#FF530D;font-size: 1em;">ISBN : </span><span
                            style="color:#000000;font-size: 1em;">{{ book.bookIsbn10 }}</span><br/>
                    <span style="color:#FF530D;font-size: 1em;">Author : </span><span
                            style="color:#000000;font-size: 1em;">{{ book.bookDirectorAuthorArtist }}</span><br/>
                    <span style="color:#FF530D;font-size: 1em;">Publisher : </span><span
                            style="color:#000000;font-size: 1em;">{{ book.bookPublisher }}</span><br/>
                    <span style="color:#FF530D;font-size: 1em;">Publish Date : </span><span
                            style="color:#000000;font-size: 1em;">{{ book.bookPublishDate|date("d M Y") }}</span>
                </td>

                <td width="180"
                    style="border-left:1px solid #ECECEC;padding-top:10px;padding-bottom:10px;text-align: left;vertical-align: top;padding-left: 30px;margin-bottom:20px;">
                    <span style="color:#FF530D;font-size: 1em;">Price : </span><span
                            style="color:#000000;font-size: 1em;">$ {{ bookDeal.bookPriceSell }}</span><br/>
                    <span style="color:#FF530D;font-size: 1em;">Book Has Notes : </span><span
                            style="color:#000000;font-size: 1em;">{{ bookDeal.bookHasNotes }}</span><br/>
                    <span style="color:#FF530D;font-size: 1em;">Book Is Highlighted : </span><span
                            style="color:#000000;font-size: 1em;">{{ bookDeal.bookIsHighlighted }}</span><br/>
                    <span style="color:#FF530D;font-size: 1em;">Available Date : </span><span
                            style="color:#000000;font-size: 1em;">{{ bookDeal.bookAvailableDate|date("d M Y") }}</span><br/>
                    <span style="color:#FF530D;font-size: 1em;">Payment : </span><span
                            style="color:#000000;font-size: 1em;">{%if bookDeal.bookPaymentMethodCaShOnExchange and bookDeal.bookPaymentMethodCheque %}
                                            Cheque, Cash
                                        {% elseif bookDeal.bookPaymentMethodCaShOnExchange and bookDeal.bookPaymentMethodCheque!=true %}
                            Cash
                        {% elseif bookDeal.bookPaymentMethodCaShOnExchange!=true and bookDeal.bookPaymentMethodCheque %}
                            Cheque
                        {% endif %}</span>
                </td>
                <td width="50"></td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="">
            <tr>
                <td style="text-align: center;background-color: #0A87C9;padding-top: 20px;padding-bottom: 20px;">
                    <p style="text-transform: uppercase;font-size: 1em;color: #ffffff;">
                        Don't Forget about our online price comparison feature<br/>
                        Yes, We will tell you the cheapest price online!
                    </p>

                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="">
            <tr>
                <td >
                    <img style="vertical-align: top;" height="3" src="{{ footer_image }}"/>

                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="">
            <tr>
                <td style="text-align: center;">
                    <p style="color: #000000;">2007-{‌{ 'now'|date('Y') }}‌ Student 2 Student, All Rights Reserved</p>

                </td>
            </tr>
        </table>
    </td>
</tr>
</table>


</div>

</body>
</html>

{% endblock %}
